@{
    ViewBag.Title = "Доставка";
    ViewBag.MenuId = "delivery";
    Layout = "~/Areas/Catalog/Views/Shared/_Layout.cshtml";
}
<div class="tab-pane active">
    <p>Нет доступных партнёров</p>
</div>
