<div class="modal hide" data-x="adminsecurity/users/delete/modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Удаление пользователя</h3>
    </div>
    <div class="modal-body" data-x="adminsecurity/users/delete/confirm_text">
        Действительно удалить пользователя?
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-x="adminsecurity/users/delete/confirm">Удалить</button>
        <button class="btn" data-dismiss="modal">Отменить</button>
    </div>
</div>
