@model Vtb24.Arms.AdminSecurity.Models.Users.ResetUserPasswordModel
@using (Html.BeginForm("ResetPassword", "Users", FormMethod.Post, new { @class = "modal hide", data_x = "adminsecurity/users/pwdreset/modal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Name)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Сброс пароля пользователя</h3>
    </div>
    <div class="modal-body">
        <h4>Введите новый пароль для пользователя «@Model.Name»</h4>
        <div class="row">
            <div class="span7">
                @Html.PasswordFor(m => m.Password, new { @class = "input-block-level", maxlength=64 })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Применить</button>
        <button class="btn" data-dismiss="modal">Отменить</button>
    </div>
}
