UPDATE [prod].[PartnerSettings]
SET [Value] = '-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC8jnuyFyf0J1mlTm0b1KwHbSyG
1D7vDC1ipl9YxuFcXIsg/wc4Kwv/kH7GvlvK2zxwwEJzsv2HHbWPr/EkJjmjsQ87
ZDhzIyFyKTr/2z12nWBIY0s/xuKodke/yyT7PqjmeKyhWb3M/QqK7U5QtSDmylmU
KyPjDLh/xQsztqCv5wIDAQAB
-----END PUBLIC KEY-----'
WHERE [Key] = 'PublicKey'
AND [Value] = '<RSAKeyValue><Modulus>vI57shcn9CdZpU5tG9SsB20shtQ+7wwtYqZfWMbhXFyLIP8HOCsL/5B+xr5byts8cMBCc7L9hx21j6/xJCY5o7EPO2Q4cyMhcik6/9s9dp1gSGNLP8biqHZHv8sk+z6o5nisoVm9zP0Kiu1OULUg5spZlCsj4wy4f8ULM7agr+c=</Modulus><Exponent>AQAB</Exponent></RSAKeyValue>'