@model dynamic
<div class="banner-carousel__item @(Model.IsActive ? "active" : null)">
    <div class="banner-samsung__background">
        <div class="banner-samsung__foreground">
            <p class="banner-samsung__motto">Ёкономьте деньги &mdash; <br/>покупайте за бонусы!</p>
            <a class="banner-samsung__tech" href="https://bonus.vtb24.ru/catalog/search?term=samsung">
                Ёлектроника и бытова€ техника Samsung
            </a>
            <a class="banner-samsung__tv-label" href="https://bonus.vtb24.ru/catalog/search?term=samsung&sort=price_desc">
                “елевизор Samsung UE32H5000AK
            </a>
            <a class="banner-samsung__tv" href="https://bonus.vtb24.ru/catalog/search?term=samsung&sort=price_desc"></a>
        </div>
    </div>
</div>