@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Пожалуйста зарегистрируйтесь";
}

<div class="full-content shdw">
    <div class="fc-padding">

        <div class="middle-line white">
            <div class="ml-text"><span class="size28">Зарегистрируйтесь!</span></div>
        </div>
        
        <p>Для того чтобы иметь возможность заказывать такие вознаграждения, Вам следует <a href="@Url.Action("Register", "Account")">зарегистрироваться!</a></p>

        <div class="space280"></div>
    </div>
</div>