<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdminMechanicsService" />
                <binding name="BasicHttpBinding_IMechanicsService" />
                <binding name="BasicHttpBinding_IServiceInfo" />
                <binding name="BasicHttpBinding_ITargetAudienceService" />
                <binding name="BasicHttpBinding_IServiceInfo1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57451/AdminMechanicsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminMechanicsService"
                contract="AdminMechanicsService.IAdminMechanicsService" name="BasicHttpBinding_IAdminMechanicsService" />
            <endpoint address="http://localhost:57451/MechanicsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMechanicsService"
                contract="MechanicsService.IMechanicsService" name="BasicHttpBinding_IMechanicsService" />
            <endpoint address="http://localhost:57451/MechanicsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceInfo"
                contract="MechanicsService.IServiceInfo" name="BasicHttpBinding_IServiceInfo" />
            <endpoint address="http://localhost:57451/TargetAudienceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITargetAudienceService"
                contract="TargetAudienceService.ITargetAudienceService" name="BasicHttpBinding_ITargetAudienceService" />
            <endpoint address="http://localhost:57451/TargetAudienceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceInfo1"
                contract="TargetAudienceService.IServiceInfo" name="BasicHttpBinding_IServiceInfo1" />
        </client>
    </system.serviceModel>
</configuration>