<?xml version="1.0"?>
<catalog_parameters>
  <parameters>
    <parameter name="Подтип" url_argument="subtype" />
    <parameter name="Жанр" url_argument="genre" />
    <parameter name="Пол" url_argument="gender" />
    <parameter name="Событие" url_argument="event" />
    <parameter name="Дизайнер" url_argument="designer" />
    <parameter name="Возраст" url_argument="age" />
    <parameter name="Материал" url_argument="material" />
    <parameter name="Персонаж" url_argument="character" />
    <parameter name="Стиль" url_argument="style" />
    <parameter name="Цвет" url_argument="color" />
    <parameter name="Диагональ экрана" url_argument="screen" />
  </parameters>
</catalog_parameters>
