<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="feedback" type="Vtb24.Site.Services.ClientFeedback.Models.Inputs.FeedbackConfigSection, Vtb24.Site.Services, Version=1.0.0.0, Culture=neutral" />
    <section name="builtin_pages" type="Vtb24.Site.Content.Pages.Models.Configuration.BuiltinPagesConfigSection, Vtb24.Site.Content, Version=1.0.0.0, Culture=neutral" />
    <section name="catalog_parameters" type="Vtb24.Site.Services.Infrastructure.CatalogParametersConfig.CatalogParametersConfigSection, Vtb24.Site.Services, Version=1.0.0.0, Culture=neutral" />
    <section name="custom_recommendations" type="Vtb24.Site.Services.Infrastructure.CustomRecommedationsConfig.CustomRecommendationsConfigSection, Vtb24.Site.Services, Version=1.0.0.0, Culture=neutral" />
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
  </configSections>
  <!--
  Настраиваемое
  =============
-->
  <!-- Контейнер -->
  <unity configSource="Configuration\unity.config" />
  <!-- Строки подключения -->
  <connectionStrings configSource="Configuration\connectionStrings.config" />
  <!-- Встроенные страницы -->
  <builtin_pages configSource="Configuration\builtinPages.config" />
  <!-- Расширенные фильтры каталога -->
  <catalog_parameters configSource="Configuration\catalogParameters.config" />
  <!-- Кастомные популярные и рекоммендуемые вознаграждения -->
  <custom_recommendations configSource="Configuration\customRecommendations.config" />
  <!-- ImageResize - преобразования картинок -->
  <resizer configSource="Configuration\resizer.config" />
  <!-- загрузка файлов -->
  <location path="Feedback/Conversation">
    <!-- обратная связь с гостем -->
    <system.web>
      <httpRuntime executionTimeout="600" maxRequestLength="524288000" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="524288000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="MyMessages/Conversation">
    <!-- обратная связь с клиентом -->
    <system.web>
      <httpRuntime executionTimeout="600" maxRequestLength="524288000" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="524288000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <!-- Веб-сервисы -->
  <system.serviceModel>
    <!-- endpoint'ы -->
    <client configSource="Configuration\endpoints.config" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICatalogSearcher" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IWishListService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="ClientProfileServicePortBinding" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="ProcessingServicePortBinding" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_ITargetAudienceService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IBasketService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IGeoPointService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IClientInboxService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IOrderManagementService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IEmailSender" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_BankConnector" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_BankConnectorPayment" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_BonusGateway" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IPartnerSecurityService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IMechanicsService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IClientFeedbackService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IClientMessageService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
      </basicHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="wcf_endpoint_serilog" type="Vtb24.ServicesExtensions.Behaviors.SerilogEndpointBehaviourExtension, Vtb24.ServicesExtensions, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="withLogging">
          <wcf_endpoint_serilog />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <!-- Обратная связь -->
  <feedback configSource="Configuration\feedback.config" />
  <!-- Разное -->
  <appSettings file="Configuration\appSettings.config">
    <!-- Логирование -->
    <add key="logs_root" value="c:\LoyaltyLogs" />
    <add key="logs_app_name" value="Site" />
    <!-- служебное -->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
  Не настраиваемое
  ================
-->
  <system.web>
    <globalization culture="ru-RU" />
    <anonymousIdentification enabled="true" />
    <httpRuntime targetFramework="4.5" maxUrlLength="512" relaxedUrlToFileSystemMapping="true" />
    <customErrors mode="On" />
    <compilation debug="true" targetFramework="4.5" />
    <httpModules>
      <!-- This is for IIS5, IIS6, and IIS7 Classic, and Cassini/VS Web Server-->
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" slidingExpiration="true" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!-- безопасность (SimpleMembershipProvider) -->
    <roleManager enabled="true" defaultProvider="SimpleRoleProvider">
      <providers>
        <clear />
        <add name="SimpleRoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
      </providers>
    </roleManager>
    <membership defaultProvider="SimpleMembershipProvider">
      <providers>
        <clear />
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".png"  duration="00:15:00" varyByQueryString="*" policy="CacheForTimePeriod" location="Any"/>
        <add extension=".jpg"  duration="00:15:00" varyByQueryString="*" policy="CacheForTimePeriod" location="Any"/>
        <add extension=".jpg.ashx"  duration="00:15:00" varyByQueryString="*" policy="CacheForTimePeriod" location="Any"/>
        <add extension="global"  duration="00:15:00" varyByQueryString="*" policy="CacheForTimePeriod" location="Any"/>
        <add extension="style"  duration="00:15:00" varyByQueryString="*" policy="CacheForTimePeriod" location="Any"/>
        <add extension="css"  duration="00:15:00" varyByQueryString="*" policy="CacheForTimePeriod" location="Any"/>
      </profiles>
    </caching>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!-- This is for IIS7+ Integrated mode -->
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
    <!--
  <staticContent>
    <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    <mimeMap fileExtension=".dfont" mimeType="font/dfont" />
    <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
    <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
    <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
    <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
  </staticContent>
  -->
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <!-- скачивание файлов -->
      <add name="Files" path="uploads/u/*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" />
      <!-- /скачивание файлов -->
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>