<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="SetAttributes(debug)" debug="false" />

    <!-- TODO: пока не устанавливаем этот аттрибут
  <authentication>
    <forms xdt:Transform="SetAttributes(requireSSL)" requireSSL="true" />
  </authentication>
  -->

  </system.web>

  <!-- ImageResize - преобразования картинок -->
  <resizer configSource="Configuration\test\resizer.config" xdt:Transform="Replace" />
  <!-- Контейнер -->
  <unity configSource="Configuration\test\unity.config" xdt:Transform="Replace" />
  <!-- Строки подключения -->
  <connectionStrings configSource="Configuration\test\connectionStrings.config" xdt:Transform="Replace" />
  <!-- Веб-сервисы -->
  <system.serviceModel>
    <!-- endpoint'ы -->
    <client configSource="Configuration\test\endpoints.config" xdt:Transform="Replace" />
  </system.serviceModel>
  <!-- Обратная связь -->
  <feedback configSource="Configuration\test\feedback.config" xdt:Transform="Replace" />
  <!-- Встроенные страницы -->
  <builtin_pages configSource="Configuration\test\builtinPages.config" xdt:Transform="Replace" />
  <!-- Расширенные фильтры каталога -->
  <catalog_parameters configSource="Configuration\test\catalogParameters.config" xdt:Transform="Replace" />
  <!-- Кастомные популярные и рекоммендуемые вознаграждения -->
  <custom_recommendations configSource="Configuration\test\customRecommendations.config" xdt:Transform="Replace" />
  <!-- Разное -->
  <appSettings xdt:Transform="SetAttributes(file)" file="Configuration\test\appSettings.config"/>
</configuration>