<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="SetAttributes(debug)" debug="false" />

    <!-- TODO: пока не устанавливаем этот аттрибут
    <authentication>
      <forms xdt:Transform="SetAttributes(requireSSL)" requireSSL="true" />
    </authentication>
    -->

    <!-- Зашифрованный MachineKey для ПРОДа -->
    <!--
    <machineKey configProtectionProvider="RSAConfigurationProvider" xdt:Transform="Insert">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>B5exCYEmajxmk2VyzcBcsKQR2rtZkX5iLvOowGbcJs7RUR45Ah22nfMNB2tcHHOJ/AsBg5/s/ndfr4GnBOgw6dpqBduNAlXwUlDjzUx3voB5k1RSYpqxmxJVN0GzJs5nFlIw0JDogdwhFgHL6Cx9o82LLPVI2BJXHO/eGacgcSo=</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>a2fNCqNbdn54MAW+EMP3IKtdsZFYM1HYbvxarvoj79B79AIUqCgFOtW5wWq5UK11w3NNWDc9yl1bpNUmxHoYCuAASuIQYesl/vbJo7hrlDD6DAyoH47qKJePn5rCX6gBc//odzL2cRDcG7JH7prsi/ImilAzajhN90NroeTy0VOyk+/3SooTnO5/e3ILk9MlGhIqvhpUkNqitbWbdh4uqWvkst1TX7ZIgeXF4H8LY7os18VCnOvrSfUT0HmtIoj35TJbQOcoqQYlHOLoRpIEupY2rLWjsVc77NCa1t9nbRkmFoF8o7bGzzTmhmCGAm/K</CipherValue>
        </CipherData>
      </EncryptedData>
    </machineKey>
    -->
  </system.web>

  <!-- ImageResize - преобразования картинок -->
  <resizer configSource="Configuration\release\resizer.config" xdt:Transform="Replace" />
  <!-- Контейнер -->
  <unity configSource="Configuration\release\unity.config" xdt:Transform="Replace" />
  <!-- Строки подключения -->
  <connectionStrings configSource="Configuration\release\connectionStrings.config" xdt:Transform="Replace" />
  <!-- Веб-сервисы -->
  <system.serviceModel>
  <!-- endpoint'ы -->
  <client configSource="Configuration\release\endpoints.config" xdt:Transform="Replace" />
  </system.serviceModel>
  <!-- Обратная связь -->
  <feedback configSource="Configuration\release\feedback.config" xdt:Transform="Replace" />
  <!-- Встроенные страницы -->
  <builtin_pages configSource="Configuration\release\builtinPages.config" xdt:Transform="Replace" />
  <!-- Расширенные фильтры каталога -->
  <catalog_parameters configSource="Configuration\release\catalogParameters.config" xdt:Transform="Replace"/>
  <!-- Кастомные популярные и рекоммендуемые вознаграждения -->
  <custom_recommendations configSource="Configuration\release\customRecommendations.config" xdt:Transform="Replace" />
  <!-- Разное -->
  <appSettings xdt:Transform="SetAttributes(file)" file="Configuration\release\appSettings.config"/>
  <!-- Провайдер для шифрования секций конфига -->
  <!--
  <configProtectedData xdt:Transform="Insert">
    <providers>
      <add
        keyContainerName="VTB24.Site"
        name="RSAConfigurationProvider"
        type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
      />
    </providers>
  </configProtectedData>
  -->
</configuration>