<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <!--
    Настраиваемое
    =============
  -->
  <!-- Контейнер -->
  <unity configSource="bin\Configuration\unity.config" />
  <!-- Строки подключения -->
  <connectionStrings configSource="bin\Configuration\connectionStrings.config" />
  <!-- Прикладные настройки -->
  <appSettings file="bin\Configuration\appSettings.config">
    <!-- Логирование -->
    <add key="logs_root" value="c:\LoyaltyLogs" />
    <add key="logs_app_name" value="SecurityWebApi" />
    <!-- служебное -->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!-- Веб-сервисы -->
  <system.serviceModel>
    <!-- endpoint'ы -->
    <client configSource="bin\Configuration\endpoints.config" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICatalogSearcher" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IWishListService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="ClientProfileServicePortBinding" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="ProcessingServicePortBinding" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_ITargetAudienceService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IBasketService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IGeoPointService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IClientInboxService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IOrderManagementService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IEmailSender" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_BankConnector" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_BankConnectorPayment" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_BonusGateway" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IPartnerSecurityService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IMechanicsService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IClientFeedbackService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IClientMessageService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
      </basicHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="wcf_endpoint_serilog" type="Vtb24.ServicesExtensions.Behaviors.SerilogEndpointBehaviourExtension, Vtb24.ServicesExtensions, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="withLogging">
          <wcf_endpoint_serilog />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add factory="Vtb24.Site.SecurityWebServices.WcfServiceFactory" relativeAddress="./SecurityWebApi.svc" service="Vtb24.Site.SecurityWebServices.SecurityWebApi" />
        <add factory="Vtb24.Site.SecurityWebServices.WcfServiceFactory" relativeAddress="./PublicProfileWebApi.svc" service="Vtb24.Site.SecurityWebServices.PublicProfileWebApi" />
        <add factory="Vtb24.Site.SecurityWebServices.WcfServiceFactory" relativeAddress="./SecurityTokenWebApi.svc" service="Vtb24.Site.SecurityWebServices.SecurityTokenWebApi" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="Vtb24.Site.SecurityWebServices.SecurityWebApi">
        <endpoint address="" binding="basicHttpBinding" contract="Vtb24.Site.SecurityWebServices.Security.ISecurityWebApi" behaviorConfiguration="withLogging" />
      </service>
      <service name="Vtb24.Site.SecurityWebServices.PublicProfileWebApi">
        <endpoint address="" binding="basicHttpBinding" contract="Vtb24.Site.SecurityWebServices.PublicProfile.IPublicProfileWebApi" behaviorConfiguration="withLogging" />
      </service>
      <service name="Vtb24.Site.SecurityWebServices.SecurityTokenWebApi">
        <endpoint address="" binding="basicHttpBinding" contract="Vtb24.Site.SecurityWebServices.SecurityToken.ISecurityTokenWebApi" behaviorConfiguration="withLogging" />
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <!-- безопасность (SimpleMembershipProvider) -->
    <roleManager enabled="true" defaultProvider="SimpleRoleProvider">
      <providers>
        <clear />
        <add name="SimpleRoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
      </providers>
    </roleManager>
    <membership defaultProvider="SimpleMembershipProvider">
      <providers>
        <clear />
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>