<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->


<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="SetAttributes(debug)" debug="false" />
  </system.web>

  <!-- Контейнер -->
  <unity configSource="bin\Configuration\release\unity.config" xdt:Transform="Replace" />
  <!-- Строки подключения -->
  <connectionStrings configSource="bin\Configuration\release\connectionStrings.config" xdt:Transform="Replace" />
  <!-- Веб-сервисы -->
  <system.serviceModel>
    <!-- endpoint'ы -->
    <client configSource="bin\Configuration\release\endpoints.config" xdt:Transform="Replace" />
  </system.serviceModel>
  <!-- Разное -->
  <appSettings xdt:Transform="SetAttributes(file)" file="bin\Configuration\release\appSettings.config">
    <add key="logs_root" value="e:\LoyaltyLogs" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
