<div class="modal hide" data-x="shared/modal_ajax_error">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Ошибка!</h4>
    </div>
    <div class="modal-body">
        <span></span>
    </div>
</div>
