<div class="modal hide" data-x="news/modal_confirm_delete">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Удаление новости</h3>
    </div>
    <div class="modal-body" data-x="news/delete/confirm_text">
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-x="news/confirm_delete">Удалить</button>
        <button class="btn" data-dismiss="modal">Отменить</button>
    </div>
</div>
