<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICatalogAdminService" />
        <binding name="BasicHttpBinding_IAdminMechanicsService" />
        <binding name="BasicHttpBinding_ITargetAudienceService" />
        <binding name="BasicHttpBinding_IServiceInfo" />
        <binding name="BasicHttpBinding_AdminBankConnector" />
        <binding name="BasicHttpBinding_IAdminFeedbackService" />
        <binding name="BasicHttpBinding_IAdminFeedbackService1" />
        <binding name="BasicHttpBinding_IFeedbackEmailNotificationQueueService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rphqbuild1:57451/AdminMechanicsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminMechanicsService"
        contract="AdminMechanicsService.IAdminMechanicsService" name="BasicHttpBinding_IAdminMechanicsService" />
      <endpoint address="http://rphqbuild1:57451/TargetAudienceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITargetAudienceService"
        contract="TargetAudienceService.ITargetAudienceService" name="BasicHttpBinding_ITargetAudienceService" />
      <endpoint address="http://rphqbuild1:57451/TargetAudienceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceInfo"
        contract="TargetAudienceService.IServiceInfo" name="BasicHttpBinding_IServiceInfo" />
      <endpoint address="http://rphqbuild1:63910/AdminBankConnectorService.svc/AdminBankConnectorService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AdminBankConnector"
        contract="AdminBankConnectorService.AdminBankConnector" name="BasicHttpBinding_AdminBankConnector" />
      <endpoint address="http://rphqbuild1:5657/AdminFeedbackService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminFeedbackService"
        contract="AdminFeedbackService.IAdminFeedbackService" name="BasicHttpBinding_IAdminFeedbackService" />
      <endpoint address="http://rphqbuild1:5657/FeedbackEmailNotificationQueueService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFeedbackEmailNotificationQueueService"
        contract="FeedbackEmailNotificationQueueService.IFeedbackEmailNotificationQueueService"
        name="BasicHttpBinding_IFeedbackEmailNotificationQueueService" />
      <endpoint address="http://rphqbuild1:8101/CatalogAdminService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogAdminService"
        contract="CatalogAdminService.ICatalogAdminService" name="BasicHttpBinding_ICatalogAdminService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>