@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ошибка при регистрации карты";
}
<div class="full-content shdw">
    <div class="fc-padding">
        <div class="middle-line white">
            <div class="ml-text">
                <span class="size28">Ошибка при регистрации карты - ВТБ24 Коллекция</span>
            </div>
        </div>
        <p>Извините, при регистрации карты произошла ошибка.</p>
        <div class="space280"></div>
    </div>
</div>
