<div class="modal hide" data-x="users/modal_confirm_reset">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Сброс пароля</h3>
    </div>
    <div class="modal-body" data-x="users/reset/confirm_text">
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-x="users/confirm_reset">Сбросить</button>
        <button class="btn" data-dismiss="modal">Отменить</button>
    </div>
</div>
