<?xml version="1.0"?>
<unity>
  <namespace name="Vtb24.Site.Services" />
  <assembly name="Vtb24.Site.Services" />
  <namespace name="Vtb24.Site.Security" />
  <assembly name="Vtb24.Site.Security" />
  <namespace name="Vtb24.Site.Content" />
  <assembly name="Vtb24.Site.Content" />
  <namespace name="Vtb24.ServicesExtensions" />
  <assembly name="Vtb24.ServicesExtensions" />
  <container>
    <!-- логирование сервисов -->
    <register type="ServiceLogger.IServiceLoggerFactory" mapTo="ServiceLogger.SerilogServiceLoggerFactory">
      <lifetime type="singleton" />
    </register>

    <!-- контент -->
    <register type="News.INews" mapTo="News.Site.News">
      <lifetime type="hierarchical" />
    </register>
    <register type="Pages.IPagesManagement" mapTo="Pages.PagesManagement">
      <lifetime type="hierarchical" />
    </register>
    <register type="MyPointImagesService.IMyPointImagesService" mapTo="MyPointImages.MyPointImagesService">
      <lifetime type="hierarchical" />
    </register>
	<register type="Advertisements.IAdvertisementsManagement" mapTo="Advertisements.AdvertisementsManagement">
		<lifetime type="hierarchical" />
	</register>

    <!-- безопасность -->
    <register type="ISecurityService" mapTo="SecurityService.SecurityService">
      <lifetime type="singleton" />
    </register>
    <register type="ISecurityTokenService" mapTo="SecurityTokenService.SecurityTokenService">
      <lifetime type="singleton" />
    </register>
    <register type="IOneTimePasswordService" mapTo="OneTimePasswordService.OneTimePasswordService">
      <lifetime type="singleton" />
    </register>
    <register type="ISmsService" mapTo="SmsService.SmsService">
      <lifetime type="singleton" />
    </register>
    <register type="IBankSmsService" mapTo="BankSmsService.BankSmsService">
      <lifetime type="singleton" />
    </register>

    <!-- клиентский сервис -->
    <register type="IClientService" mapTo="ClientService.ClientService">
      <!-- фасад, не меняется -->
      <lifetime type="hierarchical" />
    </register>
    <register type="Processing.IProcessing" mapTo="Processing.Processing">
      <lifetime type="singleton" />
    </register>
    <register type="ClientTargeting.IClientTargeting" mapTo="ClientTargeting.ClientTargeting">
      <lifetime type="singleton" />
    </register>
    <register type="Profile.IProfile" mapTo="Profile.Profile">
      <lifetime type="singleton" />
    </register>
    <register type="IMyInfoService" mapTo="MyInfoService.MyInfoService">
      <lifetime type="hierarchical" />
    </register>
    <register type="MyInfoService.IMyInfoServiceInternal" mapTo="MyInfoService.MyInfoServiceInternal">
      <lifetime type="hierarchical" />
    </register>
    <register type="SmsBallance.ISmsBallanceService" mapTo="SmsBallance.SmsBallanceService">
      <lifetime type="singleton" />
    </register>

    <!-- каталог -->
    <register type="IGiftShop" mapTo="GiftShop.GiftShop">
      <lifetime type="hierarchical" />
    </register>
    <register type="GiftShop.IGiftShopOrders" mapTo="GiftShop.Orders.GiftShopOrders">
      <lifetime type="hierarchical" />
    </register>
    <register type="IBuy" mapTo="Buy.BuyService">
      <!-- (фасад, использует IClientService, IOneTimePasswordService, IBonusPayments) -->
      <lifetime type="hierarchical" />
    </register>
    <register type="IOnlineCategoryService" mapTo="OnlineCategory.OnlineCategoryService">
      <lifetime type="hierarchical" />
    </register>

    <!-- платёжный шлюз -->
    <register type="BonusPayments.IBonusPayments" mapTo="BonusPayments.BonusPayments">
      <lifetime type="singleton" />
    </register>

    <!-- геобаза -->
    <register type="IGeoService" mapTo="GeoService.GeoService">
      <lifetime type="singleton" />
    </register>

    <!-- сервис обратной связи-->
    <register type="IClientFeedbackService" mapTo="ClientFeedback.ClientFeedbackService">
      <lifetime type="hierarchical" />
    </register>
    <register type="IClientMessageService" mapTo="ClientMessage.ClientMessageService">
      <lifetime type="hierarchical" />
    </register>

    <!-- сервис банк коннектора к ВТБ24 -->
    <register type="IRegistration" mapTo="Registration.RegistrationService">
      <lifetime type="hierarchical" />
    </register>
    <register type="ICardRegistration" mapTo="CardRegistration.CardRegistrationService">
      <lifetime type="hierarchical" />
    </register>
    <register type="VtbBankConnector.IVtbBankConnectorService" mapTo="VtbBankConnector.VtbBankConnector">
      <lifetime type="hierarchical" />
    </register>
    <register type="IAdvancePaymentService" mapTo="AdvancePayment.AdvancePaymentService">
      <lifetime type="hierarchical" />
    </register>
    <register type="IBankProductsService" mapTo="BankProducts.BankProductsService">
      <lifetime type="hierarchical" />
    </register>

  </container>
</unity>
