<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings file="Configuration\appSettings.config">
    <!-- Логирование -->
    <add key="logs_root" value="c:\LoyaltyLogs" />
    <add key="logs_app_name" value="FrontJobs" />
  </appSettings>
  <system.serviceModel>
    <!-- endpoint'ы -->
    <client configSource="Configuration\endpoints.config" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICatalogAdminService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IAdminMechanicsService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_ICatalogSearcher" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IWishListService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="ClientProfileServicePortBinding" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="ProcessingServicePortPortBinding" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_ITargetAudienceService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IBasketService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IGeoPointService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IClientInboxService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IOrderManagementService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IEmailSender" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_BankConnector" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_BankConnectorPayment" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_AdminBankConnector" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_BonusGateway" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IAdminFeedbackService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IClientMessageService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="BasicHttpBinding_IFeedbackEmailNotificationQueueService" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
      </basicHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="wcf_endpoint_serilog" type="Vtb24.ServicesExtensions.Behaviors.SerilogEndpointBehaviourExtension, Vtb24.ServicesExtensions, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="withLogging">
          <wcf_endpoint_serilog />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <!-- Контейнер -->
  <unity>
    <namespace name="Vtb24.Arms.AdminServices" />
    <assembly name="Vtb24.Arms.AdminServices" />
    <container>
      <register type="IAdminFeedbackService" mapTo="AdminFeedback.AdminFeedbackService">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.135.0" newVersion="3.1.135.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
