@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Продукты банка";
    ViewBag.MainMenu = "Catalog";
    ViewBag.EnableHeaderDropdown = true;
}
<div class="full-content shdw" style="margin-right: 18px;">
    <div class="bank-products__howitworks">
        <div class="middle-line white">
            <div class="ml-text">
                <span class="size28">Продукты банка</span>
            </div>
        </div>

        <div class="shared__well-yellow">
            <span class="shared__well-yellow-icon"></span>
            <span class="shared__well-yellow-title" style="margin-bottom: 0;">
                Уважаемый клиент! К сожалению, в настоящее время у Вас нет предложений по оплате бонусами Программы «Коллекция» продуктов Банка.
            </span>
        </div>
        
        <h3 class="bank-products__howitworks-title">Как это работает</h3>

        <div class="bank-products__howitwork-image">
        </div>

        <ul class="bank-products__howitwork-steps clearfix">
            <li>
                <span>1.</span>
                Оплатите годовое обслуживание карты ВТБ24 или SMS-оповещение по карте.
            </li>
            <li>
                <span>2.</span>
                Получите предложение в каталоге Программы «Коллекция» (действительно в течение 6 месяцев).
                <br/><br/>
                Оплатите выбранный продукт бонусами.
            </li>
            <li>
                <span>3.</span>
                Получите рублевый эквивалент на счет своей карты.
            </li>
        </ul>
    </div>
</div>
