<?xml version="1.0" encoding="utf-8" ?>
<bindings>
  <basicHttpBinding>
    <binding name="BasicHttpBinding_ISecurityWebApi" />
    <binding name="ClientProfileServicePortBinding" />
    <binding name="ProcessingServicePortBinding" />
    <binding name="BasicHttpBinding_IClientInboxService" />
  </basicHttpBinding>
</bindings>
