<?xml version="1.0"?>
<unity>
  <namespace name="Vtb24.Arms.AdminServices" />
  <assembly name="Vtb24.Arms.AdminServices" />
  <namespace name="Vtb24.Site.Services" />
  <assembly name="Vtb24.Site.Services" />
  <namespace name="Vtb24.Site.Content" />
  <assembly name="Vtb24.Site.Content" />
  <namespace name="Vtb24.Site.Security" />
  <assembly name="Vtb24.Site.Security" />
  <namespace name="Vtb24.ServicesExtensions" />
  <assembly name="Vtb24.ServicesExtensions" />
  <container>
    <!-- логирование сервисов -->
    <register type="ServiceLogger.IServiceLoggerFactory" mapTo="ServiceLogger.SerilogServiceLoggerFactory">
      <lifetime type="singleton" />
    </register>

    <!-- арм каталога -->
    <register type="IGiftShopManagement" mapTo="GiftShopManagement.GiftShopManagement" />
    <register type="IActionsManagement" mapTo="ActionsManagement.ActionsManagement" />
    <register type="ITargetingManagement" mapTo="TargetingManagement.TargetingManagement" />
    <register type="ISecurityManagement" mapTo="SecurityManagement.SecurityManagement" />

    <!-- безопасность -->
    <register type="ISecurityService" mapTo="SecurityService.SecurityService" />
    <register type="ISecurityTokenService" mapTo="SecurityTokenService.SecurityTokenService" />
    <register type="IOneTimePasswordService" mapTo="OneTimePasswordService.OneTimePasswordService" />
    <register type="ISmsService" mapTo="SmsService.SmsService" />
    <register type="IBankSmsService" mapTo="BankSmsService.BankSmsService" />
    <register type="IClientOrdersManagement" mapTo="ClientOrdersManagement.ClientOrdersManagement" />

    <!-- клиентский сервис -->
    <register type="IClientService" mapTo="ClientService.ClientService" /> <!-- фасад, не меняется -->
    <register type="Processing.IProcessing" mapTo="Processing.Processing" /> <!-- процессинг -->
    <register type="ClientTargeting.IClientTargeting" mapTo="ClientTargeting.ClientTargeting" /> <!-- промо-акции -->
    <register type="Profile.IProfile" mapTo="Profile.Profile" /> <!-- профиль клиента -->
    <register type="MyInfoService.IMyInfoServiceInternal" mapTo="MyInfoService.MyInfoServiceInternal" />
    <register type="GiftShop.IGiftShopOrders" mapTo="GiftShop.Orders.GiftShopOrders" />

    <!-- геобаза -->
    <register type="IGeoService" mapTo="GeoService.GeoService">
      <lifetime type="singleton" />
    </register>

    <register type="News.INewsManagement" mapTo="News.Management.NewsManagement" />
    <register type="Pages.IAdminPagesManagement" mapTo="Pages.AdminPagesManagement" />

    <register type="IAdminSecurityService" mapTo="AdminSecurityService.AdminSecurityService" />

    <register type="VtbBankConnector.IVtbBankConnectorService" mapTo="VtbBankConnector.VtbBankConnector">
      <lifetime type="hierarchical" />
    </register>

    <register type="IAdminVtbBankConnector" mapTo="AdminVtbBankConnector.AdminVtbBankConnector" />

    <register type="IAdminFeedbackService" mapTo="AdminFeedback.AdminFeedbackService">
      <lifetime type="singleton" />
    </register>

    <register type="IClientMessageService" mapTo="ClientMessage.ClientMessageService">
      <lifetime type="hierarchical" />
    </register>

  </container>
</unity>
