@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Обработка обращения";
}

<div class="full-content shdw">
    <div class="fc-padding">

        <div class="middle-line white">
            <div class="ml-text"><span class="size28">Опрос клиентов Программы</span></div>
        </div>

        <div id="surveyMonkeyInfo" class="fdbck-thx__surveyframe">
            <div>
                <script src="https://www.research.net/jsEmbed.aspx?sm=sWkAdexgfLcX0xn1G8Hmag_3d_3d"></script>
            </div>
        </div>

    </div>
</div>
