<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClientProfileServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.62.160:19092/clientprofile"
                binding="basicHttpBinding" bindingConfiguration="ClientProfileServicePortBinding"
                contract="ClientProfileService.ClientProfileService" name="ClientProfileServicePort" />
        </client>
    </system.serviceModel>
</configuration>