<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="activeDirectory" type="RapidSoft.VTB24.ArmSecurity.ActiveDirectoryConfigSection, RapidSoft.VTB24.ArmSecurity"/>
  </configSections>
  <activeDirectory>
    <connection path="LDAP://91.218.108.23:22389" username="administrator" password="Rjkj,jr123" />
  </activeDirectory>
</configuration> 