<div class="modal hide" data-x="security/customfields/confirm_remove_modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Удаление дополнительног поля</h3>
    </div>
    <div class="modal-body" data-x="security/customfields/confirm_remove_text">
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-x="security/customfields/confirm_remove_button">Удалить</button>
        <button class="btn" data-dismiss="modal">Отменить</button>
    </div>
</div>
