<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="SetAttributes(debug)" debug="false" />
  </system.web>
  <!-- Веб-сервисы -->
  <system.serviceModel>
    <!-- endpoint'ы -->
    <client configSource="Configuration\release\endpoints.config" xdt:Transform="Replace" />
  </system.serviceModel>
  <!-- Разное -->
  <appSettings xdt:Transform="SetAttributes(file)" file="Configuration\release\appSettings.config"/>
</configuration>