<div class="ftr-in">
    <div class="flt-l">
        <span>Круглосуточная поддержка клиентов</span>
        <br/>
        <span class="phone">8 (800) 500-05-24, 8 (495) 777-05-24</span>
        <p class="copyright">&copy; ВТБ 24 (ПАО), 2007&ndash;@DateTime.Now.Year</p>
    </div>
    <nav>
        <ul>
            <li><a href="@Url.Action("Index", "Feedback")">Обратная связь</a></li>
            <li><a href="/faq">Вопросы и ответы</a></li>
            <li><a href="/howitworks">Как программа работает</a></li>
        </ul>
        <ul>
            <li><a href="/partners">Партнеры</a></li>
            <li><a href="@Url.Action("BecomeAPartner", "Feedback")">Как стать партнером Программы</a></li>
            <li><a href="http://www.vtb24.ru/" target="_blank">Сайт ВТБ24</a></li>
        </ul>
    </nav>
   
</div>