<div class="modal-wrapper" data-modal="container">
    <div class="modal-background"></div>        
    <div class="modal-layout">            
        <div class="modal-frame">
            <h2 class="modal-header"><span>Обратите внимание</span></h2>
            <div class="text-padding" data-modal="text">
            </div>
            <div class="modal-close" data-modal="close"></div>
        </div>
    </div>
</div>