@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Страница не найдена";
}
<div class="full-content shdw">
    <div class="fc-padding">
        <div class="middle-line white">
            <div class="ml-text">
                <span class="size28">Страница не найдена</span>
            </div>
        </div>
        <p>
            Извините, запрошенная страница не найдена.<br/>
            Вы можете перейти на <a href="/">главную страницу</a>.
        </p>
        <div class="space280"></div>
    </div>
</div>
