@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Отключение от отправки уведомлений";
}
<div class="full-content shdw">
    <div class="fc-padding">
        
        <div class="middle-line white">
            <div class="ml-text"><span class="size28">Уважаемый клиент!</span></div>
        </div>
        <p>
            Ваш адрес электронной почты отключен от отправки уведомлений о появлении новых сообщений в личном кабинете.
        </p>
        <div class="space280"></div>
    </div>
</div>
