@model Rapidsoft.VTB24.Reports.Etl.EtlReports.Models.Report
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Html.DescriptionFor(Model.Request.Type);
}
@Html.Partial("_Header", Model)
<h4>
    Взаимодействий за данный период не производилось.
</h4>
