
ALTER TABLE dbo.ClientForDeletionResponse ADD
	Id int NOT NULL IDENTITY (1, 1)
GO

ALTER TABLE dbo.ClientForDeletionResponse ADD CONSTRAINT
	PK_ClientForDeletionResponse PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO