<div class="wrap-overlay" style="display: none">
    <div class="ui-widget-overlay"></div>
    <img src="~/Content/images/ajaxloader.gif" alt=""
         style="position: fixed; top: 50%; left: 50%; margin-left: -64px; margin-top: -7px; z-index: 200">
</div>