<div class="modal-wrapper" data-modal="yesno-container">
    <div class="modal-background"></div>        
    <div class="modal-layout">            
        <div class="modal-frame modal-frame-narrow">
            <h2 class="modal-header">
                <span data-modal="title"></span>
            </h2>
            <div class="text-padding" data-modal="text"></div>
            <div class="modal-close" data-modal="close"></div>
            <div class="modal-buttons">
                <a class="btn-blue modal-yes" href="#" data-modal="close-yes">
                    <span>Да</span>
                </a>
                <a class="btn-red modal-no" href="#" data-modal="close-no">
                    <span>Нет</span>
                </a>
            </div>
        </div>
    </div>
</div>
