<?xml version="1.0"?>
<appSettings>
  <!-- Логирование -->
  <add key="logs_elasticsearch_cluster" value="http://localhost:9200"/>
  <!-- Счётчики (Google Analytics, YandexMetrika, Adriver и т.п.) -->
  <add key="site_enable_counters" value="false"/>
  <!-- конфигурация каталога -->
  <add key="catalog_actions_category_enaled" value="true" />
  <add key="catalog_new_category_enaled" value="false" />
  <add key="catalog_bank_products_category_enabled" value="true" />
  <add key="product_novelty_days" value="14" />
  <add key="default_client_location_name" value="Москва" />
  <add key="default_client_location_kladr" value="7700000000000" />
  <add key="order_confirm_otp_notification" value="Uvazhaemyj klient! Kod podtverzhdeniya zakaza na summu {0:N0} {0:pluralize|bonus|bonusa|bonusov}: {1}&#10;Spasibo za Vash zakaz!" />
  <add key="catalog_gift_images_save_path" value="C:\Loyalty\uploads\Site\catalog\"/>
  <add key="catalog_gift_images_base_url" value="http://rphqbuild2:3139/uploads/catalog/"/>
  <add key="recommended_balance_groups" value="2399.99,0,2000;3399.99,0,2400;4399.99,800,3400;5499.99,1400,4400;6499.99,2000,5400;7499.99,2500,6400;8999.99,3000,7400;999999999,4000,999999999"/>
  <add key="catalog_category_icons" value="99,avia.png;575,family.png;803,movie.png"/>
  <add key="can_redeem_product_factor" value="50"/>
  <add key="catalog_bank_products_thumbnails" value="SERVICE,card.png;SMS,sms.png" />
  <add key="bank_orders_partner_id" value="-1" />
  <add key="disable_propose_to_save_email_on_buy_form" value="false"/>
  <!-- sms -->
  <add key="sms_gateway_endpoint" value="https://smsinfo.zagruzka.com/aggrweb?clientId={0}&amp;message={1}&amp;serviceId=4224&amp;pass=DueEhYv9" />
  <add key="sms_gateway_backup_endpoint" value="https://aggr.zagruzka.com/aggrweb?clientId={0}&amp;message={1}&amp;serviceId=4224&amp;pass=DueEhYv9" />
  <add key="sms_gateway_timeout" value="12000"/>
  <add key="sms_gateway_hash_key" value="CYR5KEQJD"/>
  <!-- безопасность -->
  <add key="security_allowed_password_attempts" value="6" />
  <add key="security_lockout_interval_minutes" value="30" />
  <add key="security_temp_password_length" value="8" />
  <add key="security_disable_bank_sms" value="false"/>
  <add key="security_password_change_otp_sms_limit" value="-1" />
  <add key="security_otp_via_email_enabled" value="true" />
  <add key="security_change_pwd_otp_email_notification" value="Программа «Коллекция» от ВТБ24 - смена пароля|Уважаемый клиент! Для смены пароля на сайте программы «Коллекция» www.bonus.vtb24.ru введите код: {0}" />
  <add key="security_change_pwd_otp_sms_notification" value="Uvazhaemyj klient! Dlya smeny parolya na sajte programmy «Kollektsiya» www.bonus.vtb24.ru vvedite kod: {0}" />
  <add key="security_reset_pwd_notification" value="Vash vremennyj parol' dlya lichnogo kabineta na sajte programmy «Kollektsiya» VTB24 www.bonus.vtb24.ru: {0}" />
  <add key="security_change_phone_notification" value="Uvazhaemyj klient! Po Vashej pros'be login v lichnyj kabinet na sajte bonus.vtb24.ru byl izmenen. Vremennyj parol {0}. Programma «Kollektsiya» 8800 500 0524" />
  <add key="security_create_user_notification__site" value="Uvazhaemyj klient! Vy zaregistrirovany v programme «Kollektsiya» banka VTB24. Parol' v lichnyj kabinet na sajte www.bonus.vtb24.ru: {1}" />
  <add key="security_create_user_notification__bank" value="Uvazhaemyj klient! Vy zaregistrirovany v programme «Kollektsiya» banka VTB24. Parol' v lichnyj kabinet na sajte www.bonus.vtb24.ru: {1}" />
  <add key="security_deny_unknown_client_notification" value="Uvazhaemyj klient! Dlya registratsii v programme «Kollektsiya» trebuetsya utochnenie dannykh. Prosim Vas obratit'sya v VTB24 po tel 8-800-100-24-24."/>
  <add key="security_deny_client_notification" value="Uvazhaemyj klient! Spasibo za obrashhenie v Programmu «Kollektsiya». K sozhaleniyu, u Vas net kart, kotorye mogut uchastvovat' v programme, registratsiya nevozmozhna. Podrobnee na www.bonus.vtb24.ru/faq"/>
  <add key="security_deny_already_registered_client_notification" value="Uvazhaemyj klient! Vy uzhe zaregistrirovany v Programme «Kollektsiya». Podrobnosti po tel. 8 800 500 0524"/>
  <!-- безопасность армов -->
  <add key="arm_security_domain_path" value="LDAP://192.168.62.248" />
  <add key="arm_security_domain_user" value="vtbSystemUser" />
  <add key="arm_security_domain_password" value="Rz8MVLBu" />
  <!-- otp -->
  <add key="otp_length" value="6" />
  <add key="otp_allowed_attempts" value="3" />
  <add key="otp_via_sms_timeout_seconds" value="300" />
  <add key="otp_via_sms_renew_allowed_attempts" value="3" />
  <add key="otp_via_email_timeout_seconds" value="1200" />
  <add key="otp_via_email_renew_allowed_attempts" value="5" />
  <add key="opt_via_email_from" value="noreply@vtb24.loyalty" />
  <add key="otp_via_email_smtp_user" value="loyalty@vtb24.loyalty" />
  <add key="otp_via_email_smtp_password" value="mail" />
  <add key="otp_send_similar_timeout_seconds_default" value="300" />
  <add key="otp_send_similar_threshold_attempts_default" value="3" />
  <add key="otp_send_similar_threshold_interval_seconds_default" value="3600" />
  <add key="otp_send_similar_timeout_seconds_order_confirm" value="0" />
  <add key="otp_send_similar_threshold_attempts_order_confirm" value="60" />
  <add key="otp_send_similar_threshold_interval_seconds_order_confirm" value="7200" />
  <!-- платёжный шлюз -->
  <add key="points_loyalty_program_id" value="5" />
  <add key="points_channel_id" value="4" />
  <add key="points_pos_id" value="vtb_pos_1" />
  <add key="points_terminal_id" value="vtb_terminal_1" />
  <add key="points_partner_id" value="vtb_partner_1" />
  <!-- контент -->
  <add key="content_pictures_view_path" value="http://rphqbuild2:3139/uploads/news/" />
  <add key="content_pictures_save_path" value="C:\Loyalty\uploads\Site\news\" />
  <add key="content_site_url" value="http://rphqbuild2:3139" />
  <add key="content_preview_plain_page_url_template" value="/custompages/showplain/{0}" />
  <add key="content_preview_offer_page_url_template" value="/custompages/showoffer/{0}" />
  <add key="content_preview_page_version_url_template" value="/custompages/showversion/{0}"/>
  <add key="content_default_page_keywords" value="втб24, коллекция"/>
  <add key="content_default_page_description" value="Программа ВТБ24 Коллекция"/>
  <add key="content_files_path" value="~/static/files"/>
  <add key="content_files_thumbnails_path" value="~/static/thumbnails"/>
  <add key="content_files_virtual_directory" value="/static"/>
  <add key="content_files_root_title" value="Все файлы"/>
  <add key="content_files_max_upload_size_mb" value="30"/>
  <add key="content_files_max_upload_image_size_mb" value="10"/>
  <add key="content_online_category_preview_url_template" value="/preview/onlinecategory/{0}"/>
  <!-- импорт каталога/матриц доставки-->
  <add key="import_base_url" value="http://rphqbuild2:3051/uploads/imports/"/>
  <add key="import_save_path" value ="C:\Loyalty\uploads\arms\imports\"/>
  <!-- форма Uniteller регистрации карты -->
  <add key="card_registrator_url" value="https://wpay.uniteller.ru/pay"/>
  <add key="card_registration_return_url_base" value="http://rphqbuild2.rapidsoft.local:3139"/>
  <!-- публичный профиль клиента -->
  <add key="mechanics_domain" value="Расчёт цены вознаграждения онлайн партнёра" />
  <add key="default_client_culture" value="RU" />
  <!-- кэширование -->
  <add key="cache_enabled" value="false"/>
  <add key="cache_duration_short_seconds" value="300"/>
  <add key="cache_duration_long_seconds" value="900"/>
  <!-- обработка ошибок -->
  <add key="show_error_for_remote" value="true"/>
  <!-- загрузка файлов (аплоды) -->
  <add key="site_uploads_save_path" value="C:\Loyalty\uploads\Site\uploads\"/>
  <add key="site_uploads_base_url" value="http://rphqbuild2:3139/uploads/u/" />
  <!-- обратная связь -->
  <add key="feedback_max_single_upload_size_mb" value="10" />
  <add key="feedback_max_total_upload_size_mb" value="100" />
  <add key="feedback_by_email_check_job_interval_in_minutes" value="1" />
  <add key="feedback_by_email_send_job_interval_in_minutes" value="1" />
  <add key="feedback_by_email_mailbox" value="reply.feedback@rphqbuild2.rapidsoft.local" />
  <add key="feedback_by_email_mailbox_password" value="mail" />
  <add key="feedback_by_email_recipients" value="vtb-team@rapidsoft.ru"/>
  <add key="feedback_become_a_partner_recipients" value="vtb-team@rapidsoft.ru"/>
  <!-- личные сообщения -->
  <add key="mymessages_site_url" value="http://rphqbuild2:3139"/>
  <add key="mymessages_send_on_order_success" value="true" />
  <!-- настройки почтового ящика -->
  <add key="mailbox_host" value="rphqbuild2" />
  <add key="mailbox_imap_port" value="143" />
  <add key="mailbox_smtp_port" value="25" />
  <!-- sms балланс -->
  <add key="sms_ballance_message" value="Uvazhaemyj klient! Blagodarim za uchastie v Programme «Kollektsiya». Vash balans {0:N0} {0:pluralize|bonus|bonusa|bonusov}.&#10;Sajt programmy www.bonus.vtb24.ru" />
  <add key="sms_ballance_error_message" value="Uvazhaemyj klient! Vash nomer ne zaregistrirovan v Programme «Kollektsiya». Zaregistrirovat'sya mozhno na www.bonus.vtb24.ru" />
  <!-- частичная оплата картой -->
  <add key="pay_advance_return_url_base" value="http://rphqbuild2.rapidsoft.local:3139"/>
  <!-- SEO в каталоге -->
  <add key="seo_stop_words" value="для" />
  <add key="seo_catalog_keywords" value="втб коллекция,втб бонус,vtb коллекция,бонус" />
  <add key="seo_category_keywords" value="втб коллекция,втб бонус,бонус" />
  <add key="seo_product_keywords" value="втб коллекция,втб бонус" />
  <!-- экспорт заказов -->
  <add key="order_export_path" value="c:\loyalty\orderexports"/>
</appSettings>
