<?xml version="1.0"?>
<custom_recommendations>
  <items>
    <item id="1"
          name="Билеты в кино"
          kind="Popular"
          url="/catalog/onlinecategory/1040"
          image_url="/content/images/customprod/movie-popular.jpg"
          price_text="от 200 бонусов"
          probability_percentage="5" />
    <item id="2"
          name="Авиабилеты"
          kind="Popular"
          url="/catalog/onlinecategory/682"
          image_url="/content/images/customprod/avia-popular.jpg"
          price_text="от 9 000 бонусов"
          probability_percentage="5"
          min_balance="16667" />
    <item id="3"
          name="Билеты в кино"
          kind="Recommended"
          url="/catalog/onlinecategory/1040"
          image_url="/content/images/customprod/movie-recommend.jpg"
          price_text="от 200 бонусов"
          probability_percentage="5" />
    <item id="4"
          name="Авиабилеты"
          kind="Recommended"
          url="/catalog/onlinecategory/682"
          image_url="/content/images/customprod/avia-recommend.jpg"
          price_text="от 9 000 бонусов"
          probability_percentage="5"
          min_balance="16667" />
  </items>
</custom_recommendations>
