<?xml version="1.0"?>
<client>
  <!-- каталог -->
  <endpoint address="http://rphqbuild2:8101/CatalogSearcherService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogSearcher" contract="ProductCatalogSearcherService.ICatalogSearcher" name="BasicHttpBinding_ICatalogSearcher" />
  <endpoint address="http://rphqbuild2:57451/MechanicsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMechanicsService" contract="MechanicsService.IMechanicsService" name="BasicHttpBinding_IMechanicsService" behaviorConfiguration="withLogging" />
  <!-- отложенные подарки -->
  <endpoint address="http://rphqbuild2:8101/WishListService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWishListService" contract="ProductCatalogWishListService.IWishListService" name="BasicHttpBinding_IWishListService" behaviorConfiguration="withLogging" />
  <!-- профиль -->
  <endpoint address="http://192.168.62.160:19092/clientprofile" binding="basicHttpBinding" bindingConfiguration="ClientProfileServicePortBinding" contract="ClientProfileService.ClientProfileService" name="ClientProfileServicePort" behaviorConfiguration="withLogging" />
  <!-- процессинг -->
  <endpoint address="http://192.168.62.160:19092/processing" binding="basicHttpBinding" bindingConfiguration="ProcessingServicePortBinding" contract="ProcessingService.ProcessingService" name="ProcessingServicePort" behaviorConfiguration="withLogging" />
  <!-- промо-акции -->
  <endpoint address="http://rphqbuild2:57451/TargetAudienceService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITargetAudienceService" contract="TargetAudienceService.ITargetAudienceService" name="BasicHttpBinding_ITargetAudienceService" behaviorConfiguration="withLogging" />
  <!-- корзина -->
  <endpoint address="http://rphqbuild2:8101/BasketService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBasketService" contract="ProductCatalogBasketService.IBasketService" name="BasicHttpBinding_IBasketService" behaviorConfiguration="withLogging" />
  <!-- заказы -->
  <endpoint address="http://rphqbuild2:8101/OrderManagementService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderManagementService" contract="ProductCatalogOrderService.IOrderManagementService" name="BasicHttpBinding_IOrderManagementService" behaviorConfiguration="withLogging" />
  <!-- геобаза -->
  <endpoint address="http://rphqbuild2:49210/GeoPointService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeoPointService" contract="GeoPointsService.IGeoPointService" name="BasicHttpBinding_IGeoPointService" behaviorConfiguration="withLogging" />
  <!-- личка (система оповещений) -->
  <endpoint address="http://rphqbuild2:5657/ClientInboxService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientInboxService" contract="ClientInboxService.IClientInboxService" name="BasicHttpBinding_IClientInboxService" behaviorConfiguration="withLogging" />
  <!-- обратная связь -->
  <endpoint address="http://rphqbuild2:5657/EmailSender.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailSender" contract="EmailSenderService.IEmailSender" name="BasicHttpBinding_IEmailSender" behaviorConfiguration="withLogging" />
  <!-- платёжный шлюз -->
  <endpoint address="http://192.168.62.169:19120/BonusGateway.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BonusGateway" contract="BonusPaymentGatewayService.BonusGateway" name="BasicHttpBinding_BonusGateway" behaviorConfiguration="withLogging" />
  <!-- коннектор к втб24 -->
  <endpoint address="http://rphqbuild2:63910/BankConnectorService.svc/BankConnectorService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BankConnector" contract="BankConnectorService.BankConnector" name="BasicHttpBinding_BankConnector" behaviorConfiguration="withLogging" />
  <!-- оплата заказа картой -->
  <endpoint address="http://rphqbuild2:63910/PaymentService.svc/PaymentService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BankConnectorPayment" contract="BankConnectorPaymentService.IPaymentService" name="BasicHttpBinding_BankConnectorPayment" behaviorConfiguration="withLogging" />
  <!-- работа с подписями запросов к партнёрам -->
  <endpoint address="http://rphqbuild2:700/PartnerSecurityService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPartnerSecurityService" contract="PartnerSecurityService.IPartnerSecurityService" name="BasicHttpBinding_IPartnerSecurityService" behaviorConfiguration="withLogging" />
  <!-- обратная связь -->
  <endpoint address="http://rphqbuild2:5657/ClientFeedbackService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientFeedbackService" contract="ClientFeedbackServiceEndpoint.IClientFeedbackService" name="BasicHttpBinding_IClientFeedbackService"  behaviorConfiguration="withLogging"/>
  <!-- обратная свзяь (сообщения) -->
  <endpoint address="http://rphqbuild2:5657/ClientMessageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientMessageService" contract="ClientMessageService.IClientMessageService" name="BasicHttpBinding_IClientMessageService" behaviorConfiguration="withLogging"/>
</client>
