<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProcessingServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.62.160:19092/processing" binding="basicHttpBinding"
                bindingConfiguration="ProcessingServicePortBinding" contract="ProcessingService.ProcessingService"
                name="ProcessingServicePort" />
        </client>
    </system.serviceModel>
</configuration>