@{
    ViewBag.Title = "Ошибка доступа";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="choose-the-arm">
    <h3>Ошибка доступа</h3>
    <p>У вас недостаточно прав.</p>
    <p>Вы можете перейти на <a href="@Url.Action("Index", "Home", new { area = "" })">начальную страницу</a>, или вернуться на предыдущую страницу, используя кнопку «Назад» в браузере.</p>
</div>
