<div class="modal hide" data-x="adminsecurity/groups/delete/modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Удаление группы</h3>
    </div>
    <div class="modal-body" data-x="adminsecurity/groups/delete/confirm_text">
        Действительно удалить группу?
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-x="adminsecurity/groups/delete/confirm">Удалить</button>
        <button class="btn" data-dismiss="modal">Отменить</button>
    </div>
</div>
