<div class="modal hide" data-x="users/modal_confirm_disable_profile">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Отключение от программы</h3>
    </div>
    <div class="modal-body" data-x="users/disable_profile/confirm_text">
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-x="users/confirm_disable_profile">Отключить</button>
        <button class="btn" data-dismiss="modal">Отменить</button>
    </div>
</div>
