<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="SetAttributes(debug)" debug="false" />
  </system.web>

  <!-- Контейнер -->
  <unity configSource="Configuration\test\unity.config" xdt:Transform="Replace" />
  <!-- Строки подключения -->
  <connectionStrings configSource="Configuration\test\connectionStrings.config" xdt:Transform="Replace" />
  <!-- Параметры партнеров -->
  <partner_settings configSource="Configuration\test\partnersettings.config" xdt:Transform="Replace" />
  <!-- Права в АРМ -->
  <admin_security configSource="Configuration\test\adminsecurity.config" />
  <!-- Веб-сервисы -->
  <system.serviceModel>
    <!-- endpoint'ы -->
    <client configSource="Configuration\test\endpoints.config" xdt:Transform="Replace" />
  </system.serviceModel>
  <!-- Разное -->
  <appSettings xdt:Transform="SetAttributes(file)" file="bin\Configuration\test\appSettings.config"/>
</configuration>
