<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICatalogAdminService" />
                <binding name="BasicHttpBinding_ISecurityWebApi" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rphqbuild1:8101/CatalogAdminService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogAdminService"
                contract="CatalogAdmin.ICatalogAdminService" name="BasicHttpBinding_ICatalogAdminService" />
            <endpoint address="http://rphqbuild1:6761/SecurityWebApi.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityWebApi"
                contract="SecurityApi.ISecurityWebApi" name="BasicHttpBinding_ISecurityWebApi" />
        </client>
    </system.serviceModel>
</configuration>