<?xml version="1.0"?>
<partner_settings>
  <settings>
    <setting name="UnitellerShopId"
             label="Идентификатор точки продажи Uniteller (для оплаты бонусами)"
             type="Regexp"
             regexp="^[0-9]{8}$"
             max-length="8"
             required="true"
             validation-error="Идентификатор должен состоять из 8 цифр"
             length-error="Идентификатор должен состоять из 8 цифр"
             required-error="Необходимо указать идентификатор"
             tags="online,offline,direct,carrier" />
    <setting name="UnitellerAdvanceShopId"
             label="Идентификатор точки продажи Uniteller (для оплаты банковской картой)"
             type="Regexp"
             regexp="^([0-9A-Za-z]{1,64}|([0-9A-Za-z]{1,15}-[0-9A-Za-z]{1,11}))$$"
             max-length="64"
             required="false"
             required-if="AdvancePaymentSupport"
             required-if-value="Delivery,Full"
             validation-error="Идентификатор должен состоять из цифр и латинских букв: либо одной группой от 1 до 64 символов; либо двумя группами разделенными дефисом, первая группа от 1 до 15 символов, вторая группа от 1 до 11 символов"
             length-error="Превышена максимальная длина идентификатора (64 символа)"
             required-error="Необходимо указать идентификатор, либо отменить поддержку оплаты банковской картой"
             tags="offline,direct" />
    <setting name="CertificateThumbprint"
             label="Отпечаток сертификата"
             type="Regexp"
             regexp="^[0-9a-fA-F]{2}( [0-9a-fA-F]{2}){19}$"
             max-length="59"
             required="true"
             validation-error="Отпечаток должен состоять из 20 пар шестнадцатеричных цифр (0-9, a-f), разделенных пробелами"
             length-error="Отпечаток должен состоять из 20 пар шестнадцатеричных цифр (0-9, a-f), разделенных пробелами"
             required-error="Необходимо указать отпечаток"
             tags="offline" />
    <setting name="PublicKey"
             label="Публичный ключ"
             type="Text"
             max-length="1000"
             required="true"
             validation-error=""
             length-error="Превышена максимальная длина ключа (1000 символов)"
             required-error="Необходимо указать ключ"
             tags="online" />
    <setting name="ReportRecipients"
             label="Список Email для отправки отчетов по загрузке каталога и матрицы доставки"
             type="Regexp"
             regexp="^(\s*[^@\s]+@[^@\s]+\s*(,\s*[^@\s]+@[^@\s]+)*\s*)?$"
             max-length="1000"
             required="false"
             validation-error="Список должен состоять из адресов Email, разделенных запятыми"
             length-error="Превышена максимальная длина списка Email (1000 символов)"
             required-error="Необходимо указать список Email"
             tags="online,offline,direct,carrier" />
    <!-- решили скрыть эту настройку
    <setting name="OldCatalogTimeout"
             label="Время хранения предыдущих версий каталога, в часах"
             type="Integer"
             max-length="6"
             required="false"
             validation-error="Время хранения должно состоять только из цифр"
             length-error="Превышена максимальная длина значения (6 символов)"
             required-error="Необходимо указать время хранения"
             tags="offline" />
    -->
    <setting name="FixBasketItemPrice"
             label="URL для фиксации цены вознаграждения"
             type="Url"
             max-length="1000"
             required="false"
             validation-error="Неверный формат URL"
             length-error="Превышена максимальная длина URL (1000 символов)"
             required-error="Необходимо указать URL"
             tags="offline" />
    <setting name="Check"
             label="URL для проверки заказа"
             type="Url"
             max-length="1000"
             required="false"
             validation-error="Неверный формат URL"
             length-error="Превышена максимальная длина URL (1000 символов)"
             required-error="Необходимо указать URL"
             tags="offline" />
    <setting name="Confirmation"
             label="URL для подтверждения заказа"
             type="Url"
             max-length="1000"
             required="true"
             validation-error="Неверный формат URL"
             length-error="Превышена максимальная длина URL (1000 символов)"
             required-error="Необходимо указать URL"
             tags="offline" />
    <setting name="OrdersNotificationsRecipients"
             label="Список Email для отправки отчетов по заказам"
             type="Regexp"
             regexp="^(\s*[^@\s]+@[^@\s]+\s*(,\s*[^@\s]+@[^@\s]+)*\s*)?$"
             max-length="1000"
             required="false"
             validation-error="Список должен состоять из адресов Email, разделенных запятыми"
             length-error="Превышена максимальная длина списка Email (1000 символов)"
             required-error="Необходимо указать список Email"
             tags="online,offline,direct" />
    <setting name="GetDeliveryVariants"
             label="URL для получения вариантов доставки"
             type="Url"
             max-length="1000"
             required="false"
             validation-error="Неверный формат URL"
             length-error="Превышена максимальная длина URL (1000 символов)"
             required-error="Необходимо указать URL"
             tags="offline,direct" />
    <setting name="DisableAutoOrderStatusChange"
             label="Отключить автоматический перевод статусов заказов перед отправкой в Банк"
             type="Boolean"
             max-length="0"
             required="false"
             validation-error=""
             length-error=""
             required-error=""
             tags="direct" />
    <setting name="HasMultiPositionOrders"
             label="Поддержка мульти-позиционных заказов"
             type="Boolean"
             max-length="0"
             required="false"
             validation-error=""
             length-error=""
             required-error=""
             tags="online,offline,direct,carrier" />
    <setting name="IsOrderRequiresEmail"
             label="Обязательность заполнения поля E-mail на форме заказа"
             type="Boolean"
             max-length="0"
             required="false"
             validation-error=""
             length-error=""
             required-error=""
             tags="offline,direct" />
    <setting name="AdvancePaymentSupport"
             label="Поддержка оплаты банковской картой"
             type="Radio"
             max-length="0"
             radio-values="None,Запретить оплату;Delivery,Разрешить оплату только доставки;Full,Разрешить оплату части стоимости заказа и доставки"
             required="false"
             validation-error=""
             length-error=""
             required-error=""
             tags="offline,direct" />
    <setting name="MaxAdvanceFraction"
             label="Часть стоимости заказа, допустимая к оплате банковской картой, %"
             type="Regexp"
             regexp="^(100)|([1-9][0-9])|[1-9]$"
             max-length="3"
             required="false"
             required-if="AdvancePaymentSupport"
             required-if-value="Full"
             validation-error="Значение должно быть числом от 1 до 100"
             length-error="Значение должно быть числом от 1 до 100"
             required-error="Необходимо указать значение, либо отменить поддержку оплаты части стоимости заказа банковской картой"
             tags="offline,direct" />

    <!-- TODO: включим позже
    <setting name="UseBatch"
             label="Использовать массовое подтверждение заказов"
             type="Boolean"
             max-length="0"
             required="true"
             validation-error=""
             length-error=""
             required-error=""
             tags="offline" />
    <setting name="BatchConfirmation"
             label="URL для массового подтверждения заказов"
             type="Url"
             max-length="1000"
             required="false"
             validation-error="Неверный формат URL"
             length-error="Превышена максимальная длина URL (1000 символов)"
             required-error="Необходимо указать URL"
             tags="offline" />
    -->
  </settings>
</partner_settings>
