@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Я забыл пароль";
}

<div class="full-content shdw">
    <div class="fc-padding">

        <div class="middle-line white">
            <div class="ml-text"><span class="size28">К сожалению, самостоятельное восстановление доступа невозможно.</span></div>
        </div>
        
        <p>Приносим свои извинения.</p>
        <p>Для восстановления доступа, пожалуйста, обратитесь в службу круглосуточной поддержки клиентов.</p>
        <p>Номера телефонов службы:</p>
        <ul>
            <li>8 (800) 500-05-24</li>
            <li>8 (495) 777-05-24</li>
        </ul>
        <div class="space280"></div>
    </div>
</div>
