@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Пароль успешно изменён";
}

<div class="full-content shdw">
    <div class="fc-padding">

        <div class="middle-line white">
            <div class="ml-text"><span class="size28">Пароль успешно изменён!</span></div>
        </div>
        
        <p>
            Чтобы продолжить покупки, пожалуйста, перейдите в <a href="@Url.Action("Index", "Catalog")">каталог</a>.
        </p>
        <div class="space280"></div>
    </div>
</div>
