<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="SetAttributes(debug)" debug="false" />
    <authentication>
      <forms xdt:Transform="SetAttributes(requireSSL,domain,path)" requireSSL="true" domain="admin.bonus.vtb24.ru" path="/" />
    </authentication>

    <!--
    <machineKey configProtectionProvider="RSAConfigurationProvider" xdt:Transform="Insert">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>AYeKRjyiRLCX8P9oFmi9eixokgZ4z8StBiVufQR/ftFmxqXCE+LjI5zazgNzNUpjTiwP/+Dn79jg+82lakpcIt5RBIvH0FsXHnmT7O1as3dOoWKRonHy7EqZyabgxIW1SETQo14vRPARrcB87eITr11KUivftK1sGF+HgtmVdBE=</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>3Y6n10UoEvYAr8gwHcXqNtg4yPb9XN9kN/J/Chek3MpKwA04NxJ/u0v6ysDHg32Vdl2kEjTcC4liztwVOW8rk1bWWYlsFja7wOaDUDZEJ1yKCPnOXGyc9lfLcRPEMvzXxlQyDhghhNcuA6UcksRWJuADIQsFn40D0OW6lokBOG7wWSIE46uetjdzwG+tbCL76352vLGR/C/TDNXGWUZSYUSe//9/At+OGoaeJ59I25ygbX2AAKWDA/JUJPxhqmo4+75LY24Blu9//iWOLcIw0HGQCopQtax3V0Nvlhe1zFlALCy1axN+QyNDbEraKOBd</CipherValue>
        </CipherData>
      </EncryptedData>
    </machineKey>
    -->
  </system.web>

  <!-- Контейнер -->
  <unity configSource="Configuration\release\unity.config" xdt:Transform="Replace" />
  <!-- Строки подключения -->
  <connectionStrings configSource="Configuration\release\connectionStrings.config" xdt:Transform="Replace" />
  <!-- Параметры партнеров -->
  <partner_settings configSource="Configuration\release\partnersettings.config" xdt:Transform="Replace" />
  <!-- Права в АРМ -->
  <admin_security configSource="Configuration\release\adminsecurity.config" />
  <!-- Веб-сервисы -->
  <system.serviceModel>
    <!-- endpoint'ы -->
    <client configSource="Configuration\release\endpoints.config" xdt:Transform="Replace" />
  </system.serviceModel>
  <!-- Разное -->
  <appSettings xdt:Transform="SetAttributes(file)" file="bin\Configuration\release\appSettings.config"/>
  <!-- Провайдер для шифрования секций конфига -->
  <!--
  <configProtectedData xdt:Transform="Insert">
    <providers>
      <add
        keyContainerName="VTB24.Arms"
        name="RSAConfigurationProvider"
        type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
      />
    </providers>
  </configProtectedData>
  -->
</configuration>
