<?xml version="1.0"?>
<admin_security>

  <permissions>
    <permission key="Catalog_Login" ad_attr_name="vtbARMProductCatalogLogin" />
    <permission key="Catalog_Categories" ad_attr_name="vtbProductCategories" />
    <permission key="Catalog_Categories_Manage" ad_attr_name="vtbProductCategoriesManage" />
    <permission key="Catalog_PartnerIds" ad_attr_name="vtbPartnerIds" />
    <permission key="Catalog_PartnerCategories" ad_attr_name="vtbProductCategoryLinks" />
    <permission key="Catalog_Gifts" ad_attr_name="vtbProducts" />
    <permission key="Catalog_Gifts_Edit" ad_attr_name="vtbProductsCreateUpdate" />
    <permission key="Catalog_Gifts_Import" ad_attr_name="vtbProductsImportCatalog" />
    <permission key="Catalog_Gifts_Moderate" ad_attr_name="vtbProductsModerate" />
    <permission key="Catalog_Gifts_Delete" ad_attr_name="vtbProductsDelete" />
    <permission key="Catalog_Gifts_Activate" ad_attr_name="vtbProductsActivateDeactivate" />
    <permission key="Catalog_Gifts_Move" ad_attr_name="vtbProductsChangeProductCategory" />
    <permission key="Catalog_Gifts_SetSegments" ad_attr_name="vtbProductsAssignAudience" />
    <permission key="Catalog_Gifts_Recommend" ad_attr_name="vtbProductsRecommend" />
    <permission key="Catalog_Orders" ad_attr_name="vtbOrders" />
    <permission key="Catalog_Orders_Prices" ad_attr_name="vtbOrdersViewOrderPrices" />
    <permission key="Catalog_Orders_Status" ad_attr_name="vtbOrdersChangeOrderStatus" />
    <permission key="Catalog_Partners" ad_attr_name="vtbPartners" />
    <permission key="Catalog_Partners_Edit" ad_attr_name="vtbPartnersCreateUpdateDelete" />
    <permission key="Catalog_Partners_DeliveryMatrix" ad_attr_name="vtbPartnersDeliveryMatrix" />

    <permission key="Actions_Login" ad_attr_name="vtbARMPromoActionLogin" />
    <permission key="Actions" ad_attr_name="vtbPromo" />
    <permission key="Actions_Edit" ad_attr_name="vtbPromoCreateUpdateDelete" />

    <permission key="Site_Login" ad_attr_name="vtbARMNewsLogin" />
    <permission key="Site_Page" ad_attr_name="vtbPageCreateUpdateDelete" />
    <permission key="Site_News" ad_attr_name="vtbNewsCreateUpdateDelete" />

    <permission key="Security_Login" ad_attr_name="vtbARMSecurityLogin" />
    <permission key="Security_Clients" ad_attr_name="vtbSecurityClients" />
    <permission key="Security_Clients_Deactivate" ad_attr_name="vtbClientsDeactivate" />
    <permission key="Security_Clients_ResetPassword" ad_attr_name="vtbClientsResetPwd" />
    <permission key="Security_Clients_SiteAccess" ad_attr_name="vtbSiteAccess" />
    <permission key="Security_Clients_ChangePhone" ad_attr_name="vtbClientsChangePhone" />
    <permission key="Security_Clients_Feedback" ad_attr_name="vtbSecurityClientsFeedback" />
    <permission key="Security_CustomFields" ad_attr_name="vtbSecurityCustomFields" />

    <permission key="AdminSecurity_All" ad_attr_name="vtbUsersManage" />
  </permissions>

  <nodes>

    <node target_key="Catalog_Login" description="АРМ Администратора каталога вознаграждений" type="Scope">
      <children>
        <node target_key="Catalog_Login" description="Общие права" type="Scope">
          <children>
            <node target_key="Catalog_Categories_Manage" description="Разрешить редактирование категорий" type="Checkbox">
              <additional_items>
                <item key="Catalog_Login" />
                <item key="Catalog_Categories" />
              </additional_items>
            </node>
            <node target_key="Catalog_Partners" description="Предоставить доступ к списку партнёров" type="Checkbox">
              <additional_items>
                <item key="Catalog_Login" />
                <item key="Catalog_Categories" />
              </additional_items>
              <children>
                <node target_key="Catalog_Partners_Edit" description="Разрешить создание/редактирование" type="Checkbox"/>
              </children>
            </node>
          </children>
        </node>
        <node target_key="Catalog_PartnerIds" description="Права на объекты партнёров" type="Scope">
          <children>
            <node target_key="Catalog_PartnerIds" description="Выберите партнёров из списка" type="List" list_description="Предоставить доступ к объектам перечисленных партнёров" list_wildcard_description="Предоставить доступ к объектам всех партнёров" />
            <node target_key="Catalog_PartnerCategories" description="Разрешить редактировать привязки категорий" type="Checkbox">
              <additional_items>
                <item key="Catalog_Login" />
                <item key="Catalog_Categories" />
              </additional_items>
            </node>
            <node target_key="Catalog_Gifts" description="Предоставить доступ к вознаграждениям" type="Checkbox">
              <additional_items>
                <item key="Catalog_Login" />
                <item key="Catalog_Categories" />
              </additional_items>
              <children>
                <node target_key="Catalog_Gifts_Edit" description="Разрешить создание/редактирование" type="Checkbox"/>
                <node target_key="Catalog_Gifts_Delete" description="Разрешить удаление" type="Checkbox"/>
                <node target_key="Catalog_Gifts_Activate" description="Разрешить активацию/деактивацию" type="Checkbox"/>
                <node target_key="Catalog_Gifts_Move" description="Разрешить перенос в другую категорию" type="Checkbox"/>
                <node target_key="Catalog_Gifts_SetSegments" description="Разрешить привязку к сегментам" type="Checkbox"/>
                <node target_key="Catalog_Gifts_Recommend" description="Разрешить рекомендовать" type="Checkbox" />
                <node target_key="Catalog_Gifts_Import" description="Разрешить загрузку каталога" type="Checkbox"/>
                <node target_key="Catalog_Gifts_Moderate" description="Разрешить модерацию" type="Checkbox"/>
              </children>
            </node>
            <node target_key="Catalog_Orders" description="Предоставить доступ к заказам" type="Checkbox">
              <additional_items>
                <item key="Catalog_Login" />
                <item key="Catalog_Categories" />
              </additional_items>
              <children>
                <node target_key="Catalog_Orders_Prices" description="Показывать стоимость вознаграждения и доставки в бонусах" type="Checkbox"/>
                <node target_key="Catalog_Orders_Status" description="Разрешить изменение статуса" type="Checkbox"/>
              </children>
            </node>
            <node target_key="Catalog_Partners_DeliveryMatrix" description="Предоставить доступ к матрице стоимости доставки" type="Checkbox">
              <additional_items>
                <item key="Catalog_Login" />
                <item key="Catalog_Categories" />
              </additional_items>
            </node>
          </children>
        </node>
      </children>
    </node>

    <node target_key="Actions_Login" description="АРМ Ценообразования" type="Scope">
      <children>
        <node target_key="Actions" description="Предоставить доступ к механикам" type="Checkbox">
          <additional_items>
            <item key="Actions_Login" />
          </additional_items>
          <children>
            <node target_key="Actions_Edit" description="Разрешить создание/редактирование" type="Checkbox" />
          </children>
        </node>
      </children>
    </node>

    <node target_key="Site_Login" description="АРМ Контент-редактора" type="Scope">
      <children>
        <node target_key="Site_Page" description="Предоставить доступ к статическим страницам" type="Checkbox">
          <additional_items>
            <item key="Site_Login" />
          </additional_items>
        </node>
        <node target_key="Site_News" description="Предоставить доступ к новостям" type="Checkbox">
          <additional_items>
            <item key="Site_Login" />
          </additional_items>
        </node>
      </children>
    </node>

    <node target_key="Security_Login" description="АРМ Администратора безопасности" type="Scope">
      <children>
        <node target_key="Security_Clients" description="Предоставить доступ к клиентам" type="Checkbox">
          <additional_items>
            <item key="Security_Login"/>
          </additional_items>
          <children>
            <node target_key="Security_Clients_SiteAccess" description="Разрешить активацию/деактивацию" type="Checkbox" />
            <node target_key="Security_Clients_ResetPassword" description="Разрешить сброс пароля" type="Checkbox" />
            <node target_key="Security_Clients_Deactivate" description="Разрешить удаление из программы «Коллекция»" type="Checkbox" />
            <node target_key="Security_Clients_ChangePhone" description="Разрешить смену номера телефона" type="Checkbox" />
            <node target_key="Security_Clients_Feedback" description="Предоставить доступ к обратной связи с клиентами" type="Checkbox" />
          </children>
        </node>
        <node target_key="Security_CustomFields" description="Предоставить доступ к дополнительным полям" type="Checkbox">
          <additional_items>
            <item key="Security_Login"/>
          </additional_items>
        </node>
      </children>
    </node>

    <node target_key="AdminSecurity_All" description="АРМ Учётных записей" type="Scope">
      <children>
        <node target_key="AdminSecurity_All" description="Предоставить доступ к учётным записям" type="Checkbox"/>
      </children>
    </node>

  </nodes>

</admin_security>
