<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Site-20130111200940;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Site-20130111200940.mdf" />
  <add name="SecurityServiceConnection" providerName="System.Data.SqlClient" connectionString="Data Source=loyalty-win0;Database=VtbSecurityDB;Integrated Security=False;User ID=LoyaltyDB;Password=LoyaltyDB;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  <add name="ContentServiceConnection" providerName="System.Data.SqlClient" connectionString="Data Source=loyalty-win0;Database=ContentArmDB;Integrated Security=False;User ID=LoyaltyDB;Password=LoyaltyDB;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
</connectionStrings>

