<?xml version="1.0"?>
<resizer>
  <working on="true" />
  
  <!-- Unless you (a) use Integrated mode, or (b) map all reqeusts to ASP.NET, 
          you'll need to add .ashx to your image URLs: image.jpg.ashx?width=200&height=20 -->
  <pipeline fakeExtensions=".ashx" />

  <remotereader signingKey="!w66G6vshxEV@fBCYrMG1s1AVIWhA:7HbB7n'XTc" allowAllSignedRequests="true"></remotereader>
  
  <plugins>
    <add name="MvcRoutingShim" />
    <add name="DiskCache" />
    <add name="Presets" />
    <add name="RemoteReader" />
    <add name="Watermark" />
  </plugins>

  <presets>
    <preset name="product_recommend_thumb" settings="width=131;height=94;scale=canvas;bgcolor=ffffff" />
    <preset name="product_recommend" settings="width=144;height=144;scale=canvas;watermark=product_list_wm;bgcolor=ffffff" />
    <preset name="product_thumb_list" settings="width=60;height=60;scale=canvas;bgcolor=ffffff" />
    <preset name="product_thumb" settings="width=196;height=196;scale=canvas;watermark=product_list_wm;bgcolor=ffffff" />
    <preset name="product" settings="width=355;height=355;scale=canvas;watermark=product_detailed_wm;bgcolor=ffffff" />
    <preset name="product_fullsize" settings="watermark=product_fullsize_wm;bgcolor=ffffff" />
    <preset name="news_thumb" settings="width=273;height=129;scale=canvas;bgcolor=ffffff" />
  </presets>

  <watermarks>
    <group name="product_detailed_wm">
      <image path="~/Content/images/wm_detailed.png" align="BottomCenter" width="100%" height="100%" relativeTo="canvas" drawAs="Overlay"></image>
    </group>
    <group name="product_fullsize_wm">
      <image path="~/Content/images/wm_full.png" align="BottomCenter" width="100%" height="100%" relativeTo="canvas" drawAs="Overlay"></image>
    </group>
    <group name="product_list_wm">
      <image path="~/Content/images/wm_list.png" align="BottomCenter" width="100%" height="100%" relativeTo="canvas" drawAs="Overlay"></image>
    </group>
  </watermarks>
</resizer>
