@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Статус списания бонусов -  онлайн-партнер \"Заглушка\"";
}
<h1>Проверка статуса списания бонусов по заказу</h1>
<span>@ViewBag.Message</span>
