<?xml version="1.0"?>
<log4net>

  <appender name="App_Data_site" type="log4net.Appender.RollingFileAppender">
    <file value=".\\App_Data\\logs\\site\\site" />
    <datePattern value=".yyyy-MM-dd'.log'" />
    <appendToFile value="true" />
    <maximumFileSize value="10MB" />
    <countDirection value="1" />
    <maxSizeRollBackups value="-1" />
    <rollingStyle value="Composite" />
    <staticLogFileName value="false"/>
    <encoding value="utf-8" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %thread [%utcdate] %logger - %message%newline%exception"/>
    </layout>
  </appender>

  <appender name="App_Data_services" type="log4net.Appender.RollingFileAppender">
    <file value=".\\App_Data\\logs\\services\\services" />
    <datePattern value=".yyyy-MM-dd'.log'" />
    <appendToFile value="true" />
    <maximumFileSize value="10MB" />
    <countDirection value="1" />
    <maxSizeRollBackups value="-1" />
    <rollingStyle value="Composite" />
    <staticLogFileName value="false"/>
    <encoding value="utf-8" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %thread [%utcdate] %logger - %message%newline%exception"/>
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="App_Data_site" />
  </root>

  <logger name="Vtb24.ServicesExtensions" additivity="false" >
    <appender-ref ref="App_Data_services" />
  </logger>

</log4net>
