<p class="red italic">
Уважаемый клиент! К сожалению, заказ выбранных Вами вознаграждений невозможен по одной или нескольким следующим причинам:
</p>
<ol class="red italic">
    <li>неверно указан индекс;</li>
    <li>количество выбранных товаров превышает разрешенное.</li>
</ol>
<p class="red italic">
    Большая просьба проверить корректность введенного индекса и/или попробовать заказать выбранные товары по одному. Спасибо.
</p>
