<?xml version="1.0" encoding="utf-8" ?>
<client>
  <endpoint address="http://rphqbuild1:6761/SecurityWebApi.svc"
		binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityWebApi"
		contract="SecurityWebApi.ISecurityWebApi" name="BasicHttpBinding_ISecurityWebApi" />
  <endpoint address="http://192.168.62.124:9092/clientprofile"
		binding="basicHttpBinding" bindingConfiguration="ClientProfileServicePortBinding"
		contract="ClientProfileService.ClientProfileService" name="ClientProfileServicePort" />
  <endpoint address="http://192.168.62.124:9092/processing" binding="basicHttpBinding"
		bindingConfiguration="ProcessingServicePortBinding" contract="ProcessingService.ProcessingService"
		name="ProcessingServicePort" />
  <endpoint address="http://rphqbuild1:5657/ClientInboxService.svc"
		binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientInboxService"
		contract="ClientInboxService.IClientInboxService" name="BasicHttpBinding_IClientInboxService" />
</client>
