<?xml version="1.0" encoding="utf-8" ?>
<unity>
  <namespace name="RapidSoft.Loaylty.ClientProfile.ClientProfileService"/>
  <assembly name="RapidSoft.Loaylty.ClientProfile" />

  <namespace name="RapidSoft.Loaylty.Processing.ProcessingService"/>
  <assembly name="RapidSoft.Loaylty.Processing" />

  <namespace name="Rapidsoft.Loyalty.NotificationSystem.WsClients.ClientInboxService"/>
  <assembly name="Rapidsoft.Loyalty.NotificationSystem.WsClients" />

  <namespace name="RapidSoft.VTB24.Site.SecurityWebApi"/>
  <assembly name="RapidSoft.VTB24.Site" />

  <namespace name="RapidSoft.VTB24.BankConnector.Infrastructure.Logging" />
  <assembly name="RapidSoft.VTB24.BankConnector.Infrastructure" />

  <typeAliases>
    <typeAlias alias="perResolve" type="Microsoft.Practices.Unity.PerResolveLifetimeManager, Microsoft.Practices.Unity" />
  </typeAliases>
  
  <container>
    <!-- START Service -->
    <register type="IClientInboxService" mapTo="ClientInboxServiceClient">
      <constructor>
        <param name="endpointConfigurationName" value="BasicHttpBinding_IClientInboxService"/>
      </constructor>
    </register>
    <register type="ProcessingService" mapTo="ProcessingServiceClient">
      <constructor>
        <param name="endpointConfigurationName" value="ProcessingServicePort"/>
      </constructor>
    </register>
    <register type="ClientProfileService" mapTo="ClientProfileServiceClient">
      <constructor>
        <param name="endpointConfigurationName" value="ClientProfileServicePort"/>
      </constructor>
    </register>
    <register type="ISecurityWebApi" mapTo="SecurityWebApiClient">
      <constructor>
        <param name="endpointConfigurationName" value="BasicHttpBinding_ISecurityWebApi"/>
      </constructor>
    </register>
    <!-- END Service -->
  </container>
</unity>