<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="vtb24:etl_connection_string" value="Data Source=10.14.14.48;Failover Partner=10.14.14.47;Initial Catalog=RapidSoft.VTB24.BankConnector;user id=LoyaltyDB;password=LoyaltyDB;Connect Timeout=60" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="vtb24:etl_schema_name" value="etl" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="StatisticsContext" connectionString="Data Source=10.14.14.48;Failover Partner=10.14.14.47;;Initial Catalog=VTB24.Reports;user id=LoyaltyDB;password=LoyaltyDB;Connect Timeout=60" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>
