if not exists(select * from [promo].[Rules] where [RuleDomainId]=2)
INSERT [promo].[Rules] ([Name], [RuleDomainId], [Type], [DateTimeFrom], [DateTimeTo], [Status], [IsExclusive], [IsNotExcludedBy], [Priority], [Predicate], [Factor], [ConditionalFactors], [InsertedDate], [UpdatedDate], [UserId], [ApproveDescription], [Approved]) 
VALUES (N'БАЗОВЫЙ КУРС', 2, 0, CAST(0x0000A20C00000000 AS DateTime), NULL, 0, 0, 1, 1, NULL, CAST(3.33333 AS Decimal(18, 5)), NULL, CAST(0x0000A20C00D3E14C AS DateTime), CAST(0x0000A20C01313512 AS DateTime), N'test', NULL, 1)